#formCad{
    font-size: ;
    width: 40%;
}
#formEsq{
    width: 100%;
}
#formDir{
    width: ;
}
h1{
    text-align:;
}

#formPesquisa{

}
#btnLimpar{
    color: white;
    background-color: red;
    border-radius: 0%;
}

#btnEnviar{
    color: white;
    background-color: darkgreen;
    border-radius: 0%;
}

#btnCadastro{
    color: white;
    background-color: red;
    border-radius: 0%;
}

#btnPesquisa{
    color: white;
    background-color: darkgreen;
    border-radius: 0%;
}

button{
    margin: 0 15px;
}

#lista{
    width: ;
}
td{
    text-transform: uppercase;
}